* {
    box-sizing: border-box;
    
    /* Elimina los bullets points de la lista ul */
    display: block;
}

body {
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    padding-top: 54px;
    color: #868e96;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    display: block;
}

#side-nav {
    text-align: center;

    /* Se posiciona fija respecto al navegador */
    position: fixed;

    /* Se posiciona lo que esté adentro en el borde arriba y a la izquierda*/
    top: 0;
    left: 0;

    /* Será el papá de los hijos que puedan usar CSS Flexbox*/
    display: flex;
    /* Mantener los elementos en una columna */
    flex-direction: column;

    /* El tamaño del side-nav */
    width: 17rem;
    height: 100vh;

    /* Color del fondo que tendrá el side-nav */
    background-color: #bd5d38;

    /* width: 100%; */

}

.navbar-img {

    display: flex;
    margin: 0 auto;
    padding: .5rem;

}

a {
    text-decoration: none;
}

.profile-pic {

    justify-content: center;

}

.img-profile {

    max-width: 10rem;
    max-height: 10rem;
    border: .5rem solid rgba(255,255,255,.2);
    border-radius: 50%;

}

.contenedor {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

h1 {
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;

    /* Se posesiona temporalmente en el centro para ver cómo está quedando el contenido */
    text-align: center;

    font-size: 6rem;
    line-height: 5.5rem;
}

.my-auto {
    margin-bottom: auto;
    margin-top: auto;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;
}